html,body { 
	height: 100%; 
}

.global-container{
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f5f5f5;
}

form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

p{
    text-align: left;
    margin-left: 75px;
}



.card-title{ font-weight:300; }

.btn{
	font-size: 14px;
	margin-top:20px;
}


.login-form{ 
	width:330px;
	margin:20px;
}

.sign-up{
	text-align:center;
	padding:20px 0 0;
}

.alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}

.btn,.btnDisabled{
	width: 130px;
	height: 40px;
	color: #fff;
	border-radius: 5px;

	font-family: 'Lato', sans-serif;
	font-weight: 500;
	background: transparent;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	 box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
	 7px 7px 20px 0px rgba(0,0,0,.1),
	 4px 4px 5px 0px rgba(0,0,0,.1);
     outline: none;

	background: rgb(13, 152, 83);
background: linear-gradient(0deg, rgb(8, 146, 72) 0%, rgb(21, 99, 72) 100%);

  line-height: 42px;
  padding: 0;
  border: none;

}

.btnDisabled{
    background: rgb(85, 112, 122);
    cursor: default;
}

.btn:before,
.btn:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: rgb(117, 219, 178);
  transition: all 0.3s ease;
}
.btn:before {
  height: 0%;
  width: 2px;
}
.btn:after {
  width: 0%;
  height: 2px;
}
.btn:hover{
   background: transparent;
  	box-shadow: none;
	  color: black;
}
.btn:hover:before {
  height: 100%;
}
.btn:hover:after {
  width: 100%;
}

.error{
    color: red;
    font-size: 20px;
}



